
    .container{
        margin: 10px;
        padding: 20px;
        background-color: rgb(204, 182, 224);
        border-radius: 5px;
        width: 500px;
        align-content: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
.calculator{
    background-color: blanchedalmond;
    padding:15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff, 
                      5px 5px 12px rgba(0,0,0,.16) ;
    display: grid;
    grid-template-columns: repeat(4,68px);

   
}

input{
    grid-column: span 4;
    height: 70px;
    width: 240px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset  -5px 5px 12px rgb(0, 0, 0,.16);
    border:none;
    border-radius: 30px;
    color: rebeccapurple;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;

}
button{
    height: 48px;
    width: 48px;
    background-color:#ecf0f3;
 
    box-shadow:  -5px -5px 12px #ffffff,
                 -5px 5px 12px rgb(0, 0, 0,.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}
.equal{
width: 115px;
border-radius: 40px;
background-color:#ecf0f3;
box-shadow:  -5px -5px 12px #ffffff,
-5px 5px 12px rgb(0, 0, 0,.16);
}